* {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 100;
}

body {
    font-weight: 100;
    padding: 25px;
}

li {
    margin: 10px;
}

.header-text {
    line-height: 60%;
    display: inline;
    padding-right: 30px;
}

.footer {
    padding: 20px;
}